openapi: 3.1.0

info:
  title: "MYP Cards - API"
  description: "O maior portal de cardgames: Magic, Yu-Gi-Oh!, Pokémon, Battle Scenes, Star Wars: Destiny, Dragon Ball Super, Lord of the Rings, Harry Potter, Digimon, Vanguard, Flesh & Blood, One Piece, Lorcana, Star Wars: Unlimited, Dragon Ball Super: Fusion World e muito mais!"
  version: "1.0.0"

servers:
  - url: "https://mypcards.com/api/v1"

tags:
  - name: "preço"
    description: "APIs relacionadas a preços de cartas"
  - name: "cartas"
    description: "APIs gerais sobre cartas"
  - name: "produtos"
    description: "APIs gerais sobre produtos"

paths:
  /{jogo}/precos:
    get:
      tags:
        - "preço"
      summary: "Retorna uma lista de cartas de uma jogo específico"
      parameters:
        - in: "path"
          name: "jogo"
          description: "Nome do jogo, ex: yugioh ou pokemon"
          required: true
          schema:
            $ref: "#/components/parameters/Jogos"
        - in: "query"
          name: "page_number"
          description: "O número da página a ser retornada"
          required: false
          schema:
            type: "integer"
            default: 1
        - name: "page_size"
          in: "query"
          description: "A quantidade de itens a ser retornado"
          required: false
          schema:
            type: "integer"
            default: 100
      responses:
        200:
          description: "Sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrecoResponse"
  /{jogo}/precos/{codigo}:
    get:
      tags:
        - "preço"
      summary: "Retorna uma carta com base no código"
      parameters:
        - in: "path"
          name: "jogo"
          description: "Nome do jogo, ex: yugioh ou pokemon"
          required: true
          schema:
            $ref: "#/components/parameters/Jogos"
        - in: "path"
          name: "codigo"
          description: "O código da carta no MYP Cards, ex: . Atenção: o código deve ser convertido para `encode_base_64`"
          required: true
          schema:
            type: "string"
      responses:
        200:
          description: "Sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Carta"
  /{jogo}/carta/{nome}:
    get:
      tags:
        - "cartas"
      summary: "Retorna uma lista de cartas baseada no nome indicado"
      parameters:
        - in: "path"
          name: "jogo"
          description: "Nome do jogo, ex: yugioh ou pokemon"
          required: true
          schema:
            $ref: "#/components/parameters/Jogos"
        - name: "nome"
          in: "path"
          description: "O nome da carta, podendo ser em inglês ou portugues"
          required: true
          schema:
            type: string
      responses:
        200:
          description: "Sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Carta"
  /produto/{id_produto}:
    get:
      tags:
        - "cartas"
      summary: "Retorna uma lista de cartas baseada no nome indicado"
      parameters:
        - in: "path"
          name: "id_produto"
          description: "Codigo do produto"
          required: true
          schema:
            type: integer
      responses:
        200:
          description: "Sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Produto"
  /produto/aleatorio:
    get:
      tags:
        - "produtos"
      summary: "Retorna um produto aleatório"
      responses:
        200:
          description: "Sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Produto"

components:
  parameters:
    Jogos:
      type: string
      enum:
        - yugioh
        - pokemon
        - magic
        - digimon
        - onepiece
        - battlescenes
        - dbsfusion
        - dbsmasters
        - fab
        - gundam
        - hp
        - lorcana
        - lotr
        - swdestiny
        - vanguard
        - swunlimited

  schemas:
    PrecoResponse:
      properties:
        page_number:
          type: integer
        page_size:
          type: integer
        precos:
          type: array
          items:
            $ref: "#/components/schemas/Carta"
    Carta:
      type: "object"
      properties:
        internal_code:
          type: "integer"
        card_code:
          type: "string"
        idmarca:
          type: "integer"
        name_pt:
          type: "string"
        name_en:
          type: "string"
        min_price:
          type: "string"
        avg_price:
          type: "string"
        max_price:
          type: "string"
        available_quantity:
          type: "integer"
        tcg_price:
          type: "string"
        img_pt:
          type: "string"
        img_en:
          type: "string"
        link:
          type: "string"

    Produto:
      type: "object"
      properties:
        internal_code:
          type: "integer"
        idmarca:
          type: "integer"
        name_pt:
          type: "string"
        name_en:
          type: "string"
        slugnomeptproduto:
          type: "string"
        slugnomeenproduto:
          type: "string"


