openapi: 3.1.0

info:
  title: "MYP Cards - API"
  description: |
    API pública do MYP Cards, o maior portal de cardgames do Brasil.

    **Jogos suportados:** Magic: The Gathering, Yu-Gi-Oh!, Pokémon, One Piece, Lorcana, Flesh & Blood, Digimon, Dragon Ball Super Fusion World, Dragon Ball Super Masters, Gundam, Harry Potter, Lord of the Rings, Battle Scenes, Star Wars: Destiny, Star Wars: Unlimited, Cardfight!! Vanguard, Sorcery: Contested Realm, Riftbound.

    **Limites:** A paginação é limitada a 50 itens por página.

    **Autenticação:** Alguns endpoints requerem autenticação via header `X-Api-Token`. Os tokens são gerados internamente — entre em contato com o time de suporte do MYP Cards para solicitar acesso.
  version: "1.0.0"
  contact:
    name: "MYP Cards"
    url: "https://mypcards.com"

servers:
  - url: "https://mypcards.com/api/v1"
    description: "Servidor de produção"

security:
  - ApiTokenAuth: []

tags:
  - name: "preço"
    description: "APIs relacionadas a preços de cartas"
  - name: "cartas"
    description: "APIs de busca de cartas"
  - name: "edições"
    description: "APIs do catálogo de edições"
  - name: "produtos"
    description: "APIs gerais sobre produtos"

paths:
  /{jogo}/precos:
    get:
      operationId: "listarPrecos"
      tags:
        - "preço"
      summary: "Lista cartas com preços"
      description: "Retorna uma lista paginada de cartas de um jogo específico com informações de preço."
      parameters:
        - in: "path"
          name: "jogo"
          description: "Identificador do jogo (ex: `yugioh`, `pokemon`, `magic`)"
          required: true
          schema:
            $ref: "#/components/schemas/Jogos"
        - in: "query"
          name: "page_number"
          description: "Número da página (começa em 1)"
          required: false
          schema:
            type: "integer"
            default: 1
            minimum: 1
        - name: "page_size"
          in: "query"
          description: "Quantidade de itens por página"
          required: false
          schema:
            type: "integer"
            default: 50
            minimum: 1
            maximum: 50
      responses:
        200:
          description: "Lista de cartas retornada com sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrecoResponse"

  /{jogo}/precos/{codigo}:
    get:
      operationId: "obterPrecoPorCodigo"
      tags:
        - "preço"
      summary: "Obtém carta por código"
      description: "Retorna os dados de uma carta específica com base no código do produto."
      parameters:
        - in: "path"
          name: "jogo"
          description: "Identificador do jogo (ex: `yugioh`, `pokemon`, `magic`)"
          required: true
          schema:
            $ref: "#/components/schemas/Jogos"
        - in: "path"
          name: "codigo"
          description: |
            Código da carta no MYP Cards, codificado em Base64.
            Exemplo: o código `LOB-001` deve ser enviado como `TE9CLTAwMQ==`
          required: true
          schema:
            type: "string"
            example: "TE9CLTAwMQ=="
      responses:
        200:
          description: "Carta encontrada"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Produto"
        404:
          description: "Carta não encontrada"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /{jogo}/carta/{nome}:
    get:
      operationId: "buscarCartaPorNome"
      tags:
        - "cartas"
      summary: "Busca cartas por nome"
      description: "Retorna uma lista de cartas que correspondem exatamente ao nome informado."
      parameters:
        - in: "path"
          name: "jogo"
          description: "Identificador do jogo (ex: `yugioh`, `pokemon`, `magic`)"
          required: true
          schema:
            $ref: "#/components/schemas/Jogos"
        - name: "nome"
          in: "path"
          description: "Nome exato da carta em inglês ou português"
          required: true
          schema:
            type: string
            example: "Dark Magician"
      responses:
        200:
          description: "Busca realizada com sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartaResponse"

  /{jogo}/edicoes:
    get:
      operationId: "listarEdicoes"
      tags:
        - "edições"
      summary: "Lista as edições de um jogo"
      description: |
        Retorna **todas** as edições de um jogo em uma única resposta, sem paginação,
        ordenadas da mais recente para a mais antiga (edições sem data de lançamento vêm por último).

        Edições orientais (impressões asiáticas) não são retornadas.
      parameters:
        - in: "path"
          name: "jogo"
          description: "Identificador do jogo (ex: `yugioh`, `pokemon`, `magic`)"
          required: true
          schema:
            $ref: "#/components/schemas/Jogos"
      responses:
        200:
          description: "Lista de edições retornada com sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EdicoesResponse"

  /produto/{id_produto}:
    get:
      operationId: "obterProdutoPorId"
      tags:
        - "produtos"
      summary: "Obtém produto por ID"
      description: "Retorna os dados de um produto específico com base no ID interno do MYP Cards."
      parameters:
        - in: "path"
          name: "id_produto"
          description: "ID interno do produto no MYP Cards"
          required: true
          schema:
            type: integer
            example: 12345
      responses:
        200:
          description: "Produto encontrado"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProdutoSimples"
        404:
          description: "Produto não encontrado"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /produto/aleatorio:
    get:
      operationId: "obterProdutoAleatorio"
      tags:
        - "produtos"
      summary: "Obtém produto aleatório"
      description: "Retorna um produto aleatório disponível para venda no marketplace."
      responses:
        200:
          description: "Produto retornado com sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProdutoSimples"

components:
  securitySchemes:
    ApiTokenAuth:
      type: apiKey
      in: header
      name: X-Api-Token
      description: "Token gerado pelo time de suporte do MYP Cards. Entre em contato para solicitar acesso."

  schemas:
    Jogos:
      type: string
      description: "Identificador do jogo de cartas"
      enum:
        - yugioh
        - pokemon
        - magic
        - digimon
        - onepiece
        - battlescenes
        - dbsfusion
        - dbsmasters
        - fab
        - grandarchive
        - gundam
        - hp
        - lorcana
        - lotr
        - riftbound
        - sorcery
        - swdestiny
        - vanguard
        - swunlimited
        - unionarena
        - weissschwars

    PrecoResponse:
      type: object
      description: "Resposta paginada com lista de cartas"
      properties:
        page_number:
          type: integer
          description: "Número da página atual"
          example: 1
        page_size:
          type: integer
          description: "Quantidade de itens por página"
          example: 50
        cards:
          type: array
          description: "Lista de cartas"
          items:
            $ref: "#/components/schemas/Produto"

    CartaResponse:
      type: object
      description: "Resposta com lista de cartas encontradas"
      properties:
        cards:
          type: array
          description: "Lista de cartas que correspondem à busca"
          items:
            $ref: "#/components/schemas/Produto"

    EdicoesResponse:
      type: object
      description: "Resposta com o catálogo completo de edições do jogo"
      properties:
        total:
          type: integer
          description: "Quantidade de edições retornadas"
          example: 475
        editions:
          type: array
          description: "Lista de edições, da mais recente para a mais antiga"
          items:
            $ref: "#/components/schemas/Edicao"

    Edicao:
      type: object
      description: "Dados de uma edição"
      properties:
        edition_id:
          type: integer
          description: "ID interno da edição no MYP Cards"
          example: 1046
        id_marca:
          type: integer
          description: "ID do jogo/marca (1=Magic, 2=Pokémon, 3=Yu-Gi-Oh!, etc.)"
          example: 1
        edition_code:
          type: [string, "null"]
          description: "Sigla da edição — o mesmo valor que aparece em `edition_code` nas cartas"
          example: "DOM"
        edition_pt:
          type: [string, "null"]
          description: "Nome da edição em português"
          example: "Dominária"
        edition_en:
          type: [string, "null"]
          description: "Nome da edição em inglês"
          example: "Dominaria"
        slug_pt:
          type: [string, "null"]
          description: "Slug do nome em português (para URLs)"
          example: "dominaria"
        slug_en:
          type: [string, "null"]
          description: "Slug do nome em inglês (para URLs)"
          example: "dominaria"
        release_date:
          type: [string, "null"]
          format: date
          description: "Data de lançamento no formato ISO (YYYY-MM-DD)"
          example: "2018-04-27"
        total_cards:
          type: [integer, "null"]
          description: "Quantidade de cartas da edição, quando conhecida"
          example: 298
        link:
          type: [string, "null"]
          description: "URL da página da edição no MYP Cards"
          example: "https://mypcards.com/magic/dominaria"

    Produto:
      type: object
      description: "Dados completos de uma carta/produto"
      properties:
        internal_code:
          type: integer
          description: "ID interno do produto no MYP Cards"
          example: 12345
        card_code:
          type: string
          description: "Código da carta (ex: LOB-001)"
          example: "LOB-001"
        id_marca:
          type: integer
          description: "ID do jogo/marca (0=Yu-Gi-Oh!, 1=Magic, 2=Pokémon, etc.)"
          example: 0
        tcg_productId:
          type: [integer, "null"]
          description: "ID do produto no TCGPlayer (quando disponível)"
          example: 86354
        name_pt:
          type: [string, "null"]
          description: "Nome da carta em português"
          example: "Mago Negro"
        name_en:
          type: [string, "null"]
          description: "Nome da carta em inglês"
          example: "Dark Magician"
        slug_pt:
          type: [string, "null"]
          description: "Slug do nome em português (para URLs)"
          example: "mago-negro"
        slug_en:
          type: [string, "null"]
          description: "Slug do nome em inglês (para URLs)"
          example: "dark-magician"
        edition_pt:
          type: [string, "null"]
          description: "Nome da edição em português"
          example: "Lendas do Duelo Azul"
        edition_en:
          type: [string, "null"]
          description: "Nome da edição em inglês"
          example: "Legend of Blue Eyes White Dragon"
        edition_code:
          type: string
          description: "Código/sigla da edição"
          example: "LOB"
        deck_labels:
          type: array
          items:
            type: string
          description: |
            Todas as grafias que o importador de decks do MYP Cards aceita para **esta impressão exata**, sem repetições, ordenadas da mais específica para a menos.

            Use a primeira ao montar uma decklist para colar: ela resolve um único produto, enquanto o nome puro da carta costuma casar com várias impressões e obriga quem está colando a desempatar linha por linha.

            O formato varia por jogo e por edição — algumas grafias trazem o número com o total do set, outras só o numerador, e a mesma carta pode aparecer em português e em inglês. Não monte a string por conta própria a partir de `name_*` e `edition_code`: um número em formato diferente do cadastrado não é encontrado pelo importador. Use uma destas.

            Lista vazia quando o produto ainda não tem grafias cadastradas.
          example:
            - "Dark Magician [LOB] 1"
            - "Mago Negro [LOB] 1"
            - "Dark Magician LOB (001/126)"
        min_price:
          type: [string, "null"]
          description: "Menor preço disponível (em BRL)"
          example: "15.00"
        avg_price:
          type: [string, "null"]
          description: "Preço médio (em BRL)"
          example: "25.50"
        max_price:
          type: [string, "null"]
          description: "Maior preço disponível (em BRL)"
          example: "45.00"
        tcg_price:
          type: [string, "null"]
          description: "Preço de referência do TCGPlayer (em USD)"
          example: "5.99"
        available_quantity:
          type: [integer, "null"]
          description: "Quantidade total disponível para venda"
          example: 23
        img_pt:
          type: string
          description: "URL da imagem da carta em português"
          example: "https://img.mypcards.com/produtos/12345_pt.jpg"
        img_en:
          type: string
          description: "URL da imagem da carta em inglês"
          example: "https://img.mypcards.com/produtos/12345_en.jpg"
        link:
          type: string
          description: "URL da página do produto no MYP Cards"
          example: "https://mypcards.com/yugioh/produto/12345/dark-magician"

    ProdutoSimples:
      type: object
      description: "Dados básicos de um produto (sem informações de preço)"
      properties:
        internal_code:
          type: integer
          description: "ID interno do produto no MYP Cards"
          example: 12345
        idmarca:
          type: integer
          description: "ID do jogo/marca"
          example: 0
        name_pt:
          type: [string, "null"]
          description: "Nome da carta em português"
          example: "Mago Negro"
        name_en:
          type: [string, "null"]
          description: "Nome da carta em inglês"
          example: "Dark Magician"
        slugnomeptproduto:
          type: [string, "null"]
          description: "Slug do nome em português"
          example: "mago-negro"
        slugnomeenproduto:
          type: [string, "null"]
          description: "Slug do nome em inglês"
          example: "dark-magician"
        tcg_productId:
          type: [integer, "null"]
          description: "ID do produto no TCGPlayer (quando disponível)"
          example: 86354

    Error:
      type: object
      description: "Resposta de erro"
      properties:
        error:
          type: string
          description: "Mensagem de erro"
          example: "card_code not found."
